# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC-CGRWB-0aQjDEZrspDAVaZh60588R7ks
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=rccgplaceofvictory.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=rccgplaceofvictory
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=rccgplaceofvictory.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1030806220871
NEXT_PUBLIC_FIREBASE_APP_ID=1:1030806220871:web:4ad41b0d275a85fb4a4162
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-8SNDZPD57L

# App Configuration
NEXT_PUBLIC_APP_NAME="RCCG Place of Victory Admin"
NEXT_PUBLIC_APP_URL=http://localhost:3000 